.completed {
    text-decoration: line-through;
    color: gray;
}

.shadow{
    box-shadow: inset offset-x offset-y blur-radius spread-radius color;
}

input{
    outline: transparent;
}

input::selection{
    background-color: transparent;
    outline: none;
}

.priority-high {
    background-color: #f8d7da; 
    color: #721c24; 
}
.priority-medium {
    background-color: #fff3cd; 
    color: #856404; 
}
.priority-low {
    background-color: #d4edda; 
    color: #155724; 
}